body {
    font: 100% / 1.5 Inconsolata, monospace;
    color: hsl(230, 100%, 95%);
    background-color: hsl(230, 40%, 10%);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    font-weight: 300;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
    --sb-track-color: (230, 40%, 10%);
    --sb-thumb-color: #1ed760;
    --sb-size: 14px;
}
body::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 6px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 6px;
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }  
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}
.header-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 80px;
}
.welcome {
    font-size: 3.1em;
    margin: 0 0 8px 0;
}
.title {
    font-size: 5.4em;
    margin: 0 0 10px 0;
}
.subheading {
    font-size: 2.6em;
    margin: 0 0 20px 0;
}
.frog {
    width: 550px;
    margin-left: 10px;
    margin-top: 15px;
}
.made-for-container {
    display: flex;
    align-items: center;
}
.made-for-text {
    font-size: 1em;
    margin-right: 5px;
}
.image {
    width: 40px;
}
.steps-container {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
.step {
    text-align: center;
    margin: 10px 10px;
}
.step-number {
    font-weight: bold; 
    color: hsl(230, 100%, 85%); 
    font-size: 1.2em;
    margin-bottom: 5px;
}

.step-description {
    font-size: 1.6em;
    color: hsl(230, 100%, 95%); 
    margin-top: 0;
}

.login {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.loginButton {
    padding: 10px 30px;
    background-color: white;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin: 20px;
    margin-bottom: 60px;
}
.loginButton:hover {
    background-color: #1ed760;
}
/* Keyframes for glowing animation */
@keyframes neonGlow {
    0%, 100% {
        box-shadow:
            0 0 5px #39ff14,   /* Inner glow */
            0 0 10px #39ff14,  /* Middle glow */
            0 0 20px #39ff14,  /* Outer glow */
            0 0 40px #39ff14;  /* Even larger glow */
    }
    50% {
        box-shadow:
            0 0 10px #39ff14,  /* Inner glow */
            0 0 20px #39ff14,  /* Middle glow */
            0 0 30px #39ff14,  /* Outer glow */
            0 0 50px #39ff14;  /* Even larger glow */
    }
}
.gif {
    width: 90%;
    max-width: 1250px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
    border: 3px solid #39ff14; /* Neon green border */
    position: relative;
    padding: 25px;
    animation: neonGlow 2s ease-in-out infinite;
}
.demo {
    width: 100%;  
    height: auto;
    display: block;  
}
footer {
    background-color: #151e3f;
    padding: 20px 0;
    text-align: center;
    clear: both; 
    width: 100%;
}
.footer-logo {
    height: 125px; 
    flex: 0 0 auto; 
}
.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.about-section,
.privacy-policy {
    flex: 1 1 300px; 
    margin: 0 20px;
}

.privacy-policy a {
    margin-top: 50px;
    color: #007bff;
}
.footer-text {
    margin-top: 5px; 
}
@media (max-width: 1000px) {
    .welcome {
        font-size: 3.1em;
        margin: auto;
        text-align: center;
    }
    .title {
        font-size: 5.4em;
        margin: auto;
        text-align: center;
    }
    .subheading {
        font-size: 2.6em;
        margin: auto;
        text-align: center;
    }
    .header {
        flex-direction: column;
        align-items: center;
    }
    .header-left {
        flex-direction: column;
        align-items: center;
    }
    .frog {
        width: 100%; 
        max-width: 350px; 
        margin: 10px auto; 
    }
    .made-for-container {
        order: 2;
        justify-content: center;
        width: 100%;
    }
    .steps-container {
        flex-direction: column;
    }
    .gif {
        max-width: 1000px;
        width: 90%;
        padding: 10px;
    }
    .footer-content {
        flex-direction: column;
        align-items: center;
        max-width: 775px;
        width: 95%;
    }
    .about-section,
    .privacy-policy {
        flex: 0 0 auto; 
        margin: 20px; 
        max-width: 90%; 
    }
    .privacy-policy a {
        margin-top: 10px;
    }
}
@media (max-width: 1150px) {
    .welcome {
        font-size: 2.6em;
    }
    .title {
        font-size: 4.4em;
    }
    .subheading {
        font-size: 2.2em;
    }
    .frog {
        max-width: 450px; 
    }
    .header-left{
        padding: 10px;
    }
    .gif {
        max-width: 1000px;
        width: 90%;
    }
}