body {
  font: 100% / 1.5 Inconsolata, monospace;
  color: hsl(230, 100%, 95%);
  background-color: hsl(230, 40%, 10%);
  font-weight: 300;
}

.image {
  margin-top: -40px;
}

img {
  margin: auto;
  display: block;
}

h1 {
  font-size: 4.5rem;
  font-weight: 300;
  text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
    0 0 0.125em hsla(320, 100%, 60%, 0.5),
    -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.125),
    0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.25);
}

h3 {
  margin-top: -45px;
}

::selection {
  background-color: #013896;
  color: #f1f1f1;
  }
  

.selection {
    margin: 0 auto;
    text-align: center;
    padding: center;
  }
  
select {
  width:400px;
  border: 1px solid #fff;
  border-radius: 1em;
  background-color: transparent;
  font: 100% / 1.5 Inconsolata, monospace;
  color: #ffffff;
  padding: 0.5em 1em;
}

option {
  background-color: #013896;
  font: 100% / 1.5 Inconsolata, monospace;
}


.clicker {
  text-align: center;
  margin-top: 25px;
}

.create_playlist {
  text-align: center;
  margin-top: 15px;
}

:disabled:not(.c_playlist) {
  cursor: wait;
}

.c_playlist:disabled {
  cursor: default;
}

input {
  padding: 12px 40px;
  border-radius: 1em;
  border: 2px solid rgb(0, 0, 0);
  font-size: 20px;
  cursor: pointer;
  font: 100% / 1.5 Inconsolata, monospace;
}

input:hover{
  background-color: #013896;
  color: rgb(255, 255, 255);
 }

table {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

table td {
  text-align: center;
  padding: .5em;
}

table tr:not(:first-child):hover {
  background-color: #013896;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
  

@media (max-width: 700px) {
  select {
    max-width: 300px;
    width: 80%;
  }
  input {
    padding: 9px 35px;
    font-size: 16px;
  }
  table td {
    padding: .3em;
  }
  .image img {
    max-width: 90%;
    height: auto;
  }
}

@media (max-width: 335px) {
  table td {
    padding: .06em;
  }
  .image img {
    max-width: 80%;
    height: auto;
  }
  h1 {
    font-size: 4rem;
  }
}