<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="shortcut icon" href="../static/favicon.ico"/>
    <link rel="icon" type="image/png" href="../static/frog-head.png" sizes="192x192">
    <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const rows = document.querySelectorAll('.table tr');
            const urisInput = document.getElementById('send_back');
            const createPlaylistButton = document.getElementById('c_playlist');
        
            rows.forEach(row => {
                row.addEventListener('click', function() {
                    const rowIndex = this.getAttribute('hx-vals');
                    const uris = urisInput.value;
                    
                    // send both rowIndex and uris to endpoint
                    fetch('/rowClicked', {
                        method: 'POST', 
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ rowIndex, uris }),
                    })
                    .then(response =>  {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                });
            });
            createPlaylistButton.addEventListener('click', function() {
                const uris = urisInput.value; // Retrieve URIs from the hidden input
                createPlaylistButton.disabled = true; // Disable button after use
                createPlaylistButton.style.cursor = 'wait';

                fetch('/createPlaylist', {
                    method: 'POST', 
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ uris }), // Send URIs to endpoint
                })
                .then(response =>  {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    createPlaylistButton.value = 'Playlist Saved'; // Change button text
                })
                .catch(error => {
                    console.error('Error:', error);
                })
                .finally(() => {
                    createPlaylistButton.style.cursor = 'pointer';
                });
            });

        });
    </script>        
    <title>Better Shuffle - Randomly Yours</title>
</head>
<body>
    <h1 style="text-align: center"><b>Better Shuffle</b></h1>
    <div class = 'image'>
    <img src="../static/Spotify_Logo_RGB_White.png" style="width: 280px; height: auto; text-align: center;">
    </div>
    <h2 style="text-align: center">Choose Playlist and Device: </h2>
    <form id="shufflePlaylist" action="/getPlaylist" method="POST">
        <div class = 'selection'>
            <select name="playlists" class = "Input" id="playlists">
                {% for playlist in playlist_data %}
                <option value="{{ playlist[2] }}">{{ playlist[0] }} by {{ playlist[3] }}</option>
                {% endfor %}
            </select>
            <select name="devices" class = "Input" id="devices">
                {% for device in devices %}
                <option value ="{{ device['id'] }}">{{ device['name'] }}</option>
                {% endfor %}
            </select>
        </div>

        <div class = 'clicker'>
            <input type="submit" value="Shuffle Playlist" onclick="this.disabled=true;this.form.submit();this.value='Shuffling...';">
        </div>
    </form>
    {% if track_data|length > 1 %}
    <div class = 'create_playlist'>
        <input type="button" class="c_playlist" name="c_playlist" id = "c_playlist" value="Create Into New Playlist">
        <!-- Stores uri data in input as a way to cache the currently shuffled tracks -->
        <input type="hidden" id = "send_back" name="send_back" value="{{ uris }}" readonly>
    </div>
    {% endif %}

    {% if user_premium_status != "premium" and track_data|length > 1 %}
    <p style="text-align:center;">Spotify does not support playback for free users, however, you can save the shuffled songs to your own playlist and play in order.</p>
    {% endif %}

    {% if track_data|length > 1 %}
    <div class = 'create_playlist'>
    <form hx-post="/skipTrack" hx-trigger="click">
        <input type="submit" class="skipB" name="skipB" value="<- Previous Track">
        <input type="submit" class="skip" name="skip" value="  Next Track ->  ">
    </form>
    </div>

    <div class = 'table'>
        <table>
            <tr>
                <th></th>
                <th style="width: 50px; text-align: center;">Number</th>
                <th style="width: 350px;">Title</th>
                <th style="width: 350px">Artist(s)</th>
            </tr>
            {% for track in track_data %}
                <tr hx-vals='{"rowIndex": "{{ loop.index0 }}"}'>
                    <td> <img src = {{ track[2] }} alt="Album image"> </td>
                    <td>  #{{ track[1] }}</td>
                    <td>{{ track[0] }}</td>
                    <td>By: {{ track[3] }} </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
    
</body>
</html>