<!DOCTYPE html>
<html>
<head>
    <title>Better Shuffle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
    <link rel="shortcut icon" href="../static/favicon.ico"/>
    <link rel="icon" type="image/png" href="../static/frog-head.png" sizes="192x192">
<script>
    window.addEventListener('pageshow', function() {
        loginButton.style.cursor = 'pointer'; 
    });
</script>
</head>
<body>
    <div class="header">
        <div class="header-left">
            <p class="welcome">Welcome to</p>
            <p class="title"><b>Better Shuffle</b></p>
            <p class="subheading">Experience true randomness</p>
        </div>
        <img src="../static/frog2.png" alt="Frog" class="frog">
        <div class="made-for-container">
            <p class="made-for-text">Made for &#160</p>
            <img src="../static/Spotify_Icon_RGB_White.png" alt="Spotify Logo" class="image">
        </div>
    </div>

    <div class="steps-container">
        <div class="step">
            <p class="step-number">Step 1</p>
            <p class="step-description">Connect your Spotify</p>
        </div>
        <div class="step">
            <p class="step-number">Step 2</p>
            <p class="step-description">Choose Playlist and Device</p>
        </div>
        <div class="step">
            <p class="step-number">Step 3</p>
            <p class="step-description">Shuffle Playlist</p>
        </div>
        <div class="step">
            <p class="step-number">Step 4</p>
            <p class="step-description">Enjoy Music</p>
        </div>
    </div>

    <div class="login">
        <a id = "loginButton" class = "loginButton" href="/login" onclick="this.style.cursor='wait'">Login with Spotify</a>
    </div>

    <div class="gif">
        <img src="../static/better_shuffle_demo.gif" alt="Demo Gif" class="demo">
    </div>

    <footer>
        <div class="footer-content">
            <div class="about-section">
                <h3>About Us</h3>
                <p>Discover a new way to enjoy your playlists with our enhanced shuffle feature. Unlike the standard shuffle you might be used to,
                     our app ensures every song gets its turn in the spotlight, giving you a truly random and fair playback experience. Connect seamlessly 
                     with Spotify and rediscover your music collection without repetitions or omissions.</p>
            </div>
            <div class="privacy-policy">
                <h3> <a href="/privacy-policy">Privacy Policy</a></h3>
                <h3><a href="mailto:contact@bettershuffle.com">Contact</a></h3>
                <h3>YEA YEA</h3>
                <h3>FROG FROG</h3>
            </div>
        </div>
        <img src="../static/frog-head.png" alt="frog head" class="footer-logo">
        <p class="footer-text">© 2024 bettershuffle.com - All rights reserved.</p>
    </footer>
    
</body>
</html>
