<!DOCTYPE html>
<html>
<head>
    <title>Better Shuffle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
    <link rel="icon" type="image/x-icon" href="/static/frog2.png">
<script>
    window.addEventListener('pageshow', function() {
        document.body.style.cursor = 'default'; 
    });
</script>
</head>
<body>
    <div class="header">
        <div class="header-left">
            <p class="welcome">Welcome to</p>
            <p class="title"><b>Better Shuffle</b></p>
            <p class="subheading">Experience true randomness</p>
        </div>
        <img src="../static/frog2.png" alt="Frog" class="frog">
        <div class="made-for-container">
            <p class="made-for-text">Made for &#160</p>
            <img src="../static/Spotify_Icon_RGB_White.png" alt="Spotify Logo" class="image">
        </div>
    </div>

    <div class="steps-container">
        <div class="step">
            <p class="step-number">Step 1</p>
            <p class="step-description">Connect your Spotify</p>
        </div>
        <div class="step">
            <p class="step-number">Step 2</p>
            <p class="step-description">Choose Playlist and Device</p>
        </div>
        <div class="step">
            <p class="step-number">Step 3</p>
            <p class="step-description">Shuffle Playlist</p>
        </div>
        <div class="step">
            <p class="step-number">Step 4</p>
            <p class="step-description">Enjoy Music</p>
        </div>
    </div>

    <div class="login">
        <a id = "loginButton" href="/login" onclick="document.body.style.cursor='wait'">Login with Spotify</a>
    </div>
</body>
</html>
